ai2thor>=2.7.2,!=2.8.0
-e git+https://github.com/brandontrabucco/allenact.git@main#egg=allenact&subdirectory=allenact
-e git+https://github.com/brandontrabucco/allenact.git@main#egg=allenact_plugins[ithor]&subdirectory=allenact_plugins
numpy
torch>1.6.0
torchvision>=0.7.0
matplotlib
scipy
stringcase
lru-dict
networkx
compress-pickle==1.2.0
packaging
